    /* .div1{
            width: 100%;
            display: inline;
        }
        .div2{
            position: absolute;
            top: 20px;
        } */
    
    .img1 {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
    
    .div1 {
        position: absolute;
        width: 15cm;
        top: 190px;
        font-size: 68px;
        font-weight: 400;
        color: white;
        left: 490px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
    }
    
    .div2 {
        position: absolute;
        font-size: .9cm;
        left: 70px;
        font-weight: bolder;
        color: white;
        top: 22px;
        font-family: 'Roboto', sans-serif;
    }
    
    .div3 {
        position: absolute;
        box-sizing: border-box;
        width: 215px;
        background-color: rgb(46, 118, 250);
        text-align: center;
        padding: 16px;
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: 480;
        color: white;
        border-radius: 30px;
        top: 385px;
        left: 650px;
        font-family: 'Roboto', sans-serif;
    }
    
    .div3:hover {
        background-color: white;
        color: rgb(46, 118, 250);
    }
    
    .div4 {
        position: relative;
        width: 400px;
        left: 200px;
        color: black;
        top: 1100px;
    }
    
    .div5 {
        width: 14cm;
        top: 200px;
        font-size: 64px;
        font-weight: 600;
        color: rgb(12, 2, 2);
        left: 490px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
    }
    
    .div6 {
        line-height: 3ch;
        font-size: larger;
        width: 350px;
    }
    
    .div7 {
        position: relative;
        box-sizing: border-box;
        width: 175px;
        background-color: rgb(46, 118, 250);
        text-align: center;
        padding: 12px;
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: 480;
        color: white;
        border-radius: 30px;
        top: 20px;
        left: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    .div7:hover {
        background-color: rgb(252, 9, 9);
        color: rgb(46, 118, 250);
    }
    
    .img2 {
        width: 900px;
        position: relative;
        top: -450px;
        left: 400px;
    }
    
    .div8 {
        position: relative;
        width: 400px;
        left: 0px;
        color: black;
        top: 700px;
    }
    
    .div9 {
        position: absolute;
        width: 7cm;
        top: 210px;
        font-size: 64px;
        font-weight: 600;
        color: rgb(12, 2, 2);
        left: 980px;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
    }
    
    .div9a {
        position: absolute;
        width: 7cm;
        top: 290px;
        font-size: 64px;
        font-weight: 600;
        color: rgb(12, 2, 2);
        left: 980px;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
    }
    
    .div10 {
        position: relative;
        left: 980px;
        top: -300px;
        line-height: 3ch;
        font-size: larger;
        width: 250px;
    }
    
    .div11 {
        position: relative;
        box-sizing: border-box;
        width: 175px;
        background-color: rgb(46, 118, 250);
        text-align: center;
        padding: 12px;
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: 480;
        color: white;
        border-radius: 30px;
        top: -280px;
        left: 980px;
        font-family: 'Roboto', sans-serif;
    }
    
    .div11:hover {
        background-color: rgb(252, 9, 9);
        color: rgb(46, 118, 250);
    }
    
    .img3 {
        width: 900px;
        position: relative;
        top: 0px;
        left: 0px;
    }
    
    .div12 {
        position: relative;
        width: 400px;
        left: 200px;
        color: black;
        top: 950px;
    }
    
    .div13 {
        width: 9cm;
        top: 200px;
        font-size: 64px;
        font-weight: 600;
        color: rgb(12, 2, 2);
        left: 490px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
    }
    
    .div14 {
        line-height: 3ch;
        font-size: larger;
        width: 350px;
    }
    
    .div15 {
        position: relative;
        box-sizing: border-box;
        width: 175px;
        background-color: rgb(46, 118, 250);
        text-align: center;
        padding: 12px;
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: 480;
        color: white;
        border-radius: 30px;
        top: 20px;
        left: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    .div15:hover {
        background-color: rgb(252, 9, 9);
        color: rgb(46, 118, 250);
    }
    
    .img4 {
        width: 900px;
        height: 700px;
        position: relative;
        top: -450px;
        left: 400px;
    }
    
    .div16 {
        position: relative;
        width: 400px;
        left: 0px;
        color: black;
        top: 600px;
    }
    
    .div17 {
        position: absolute;
        width: 9cm;
        top: 210px;
        font-size: 64px;
        font-weight: 600;
        color: rgb(12, 2, 2);
        left: 980px;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
    }
    
    .div18 {
        position: relative;
        left: 980px;
        top: -300px;
        line-height: 3ch;
        font-size: larger;
        width: 300px;
    }
    
    .div19 {
        position: relative;
        box-sizing: border-box;
        width: 175px;
        background-color: rgb(46, 118, 250);
        text-align: center;
        padding: 12px;
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: 480;
        color: white;
        border-radius: 30px;
        top: -280px;
        left: 980px;
        font-family: 'Roboto', sans-serif;
    }
    
    .div19:hover {
        background-color: rgb(252, 9, 9);
        color: rgb(46, 118, 250);
    }
    
    .img5 {
        width: 900px;
        position: relative;
        top: 0px;
        left: 0px;
    }
    
    .div20 {
        position: relative;
        width: 22cm;
        top: 650px;
        margin: 0 auto;
        font-size: 68px;
        font-weight: 500;
        color: rgb(12, 2, 2);
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .div21 {
        position: relative;
        box-sizing: border-box;
        width: 175px;
        background-color: rgb(46, 118, 250);
        text-align: center;
        padding: 12px;
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: 480;
        color: white;
        border-radius: 30px;
        top: 680px;
        left: 0;
        font-family: 'Roboto', sans-serif;
        margin: 0 auto;
    }
    
    .div22 {
        position: relative;
        top: 850px;
        padding: 40px;
        font-size: large;
        width: 1200px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: black;
        text-align: center;
        margin: 0 auto;
        border-width: .5px;
    }
    
    .span1 {
        border-right-style: solid;
        padding-right: 5px;
        font-size: xx-large;
        font-weight: bold;
    }
    
    .span2 {
        position: relative;
        top: 0;
        padding-left: 3px;
        top: -3px;
        font-size: large;
    }
    
    .div23 {
        position: relative;
        top: 850px;
        padding-top: 30px;
        padding-bottom: 80px;
        font-size: initial;
        width: 1200px;
        margin: 0 auto;
        border-width: .5px;
    }
    
    .span3 {
        position: relative;
        left: 0px;
        border-right-style: solid;
        border-width: thin;
        padding-right: 30px;
        left: -43px;
    }
    
    .span4 {
        position: relative;
        left: -4px;
    }
    
    .span5 {
        position: relative;
        right: -845px;
    }